<div class="mui--text-center">
  <div class="mui--appbar-height"></div>
  <div class="mui--text-display3">Find the best p2pool node</div>
  <br>
  <div class="mui--text-headline">
    p2pool.network helps you to find the best p2pool node<br>
    by showing and comparing the PINGs and other important values</div>
  <br>
  <br>
  <a href="https://github.com/koalalorenzo/p2pool-network/blob/master/HowToAddANode.md" class="mui-btn">Add your node</a>
  <a href="#/search" class="mui-btn mui-btn--primary">Start searching!</a>
</div>
